* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: rgb(221, 207, 207);
}

html {
    scroll-behavior: smooth;
}
.header {
    background: linear-gradient(to bottom right, rgba(73, 56, 51, 0.993), rgba(0, 0, 0, 0.877));
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    border-radius: 20px;
}
h1 { 
    margin-left: 20px;
    width: 35%;
    text-align: center;
}

span {
    color: rgba(209, 35, 35, 0.993);
}

.nav li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 20px;

}
      
.nav a {
    color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  font-size: large;
}

.nav a:hover {
    color: rgba(209, 35, 35, 0.993);
}

.belowHead {
    background: url("images/deve\ code2.jpg");
    background-position: center;
    padding: 120px;

}

.belowHead h1 {
    color: whitesmoke;
    background-color: none;
    border-radius: 5px;
    float: right;
    padding: 1px;
    width: fit-content;
    margin-top: 20px;
}
.section1{
    background: linear-gradient(to left bottom, rgb(88, 3, 3), rgba(209, 35, 35, 0.993), rgb(129, 24, 24));
    width: 100%;
    height: 400px;
    padding-top: 20px;
    flex-wrap: wrap;
}
.section1 img {
    float: left;
    height: 300px;
    width: 250px;
    margin-left: 120px; margin-top: 40px;
    box-shadow:  4px 8px 0 rgba(5, 0, 0, 0.616), 0 6px 20px 0 rgba(0, 0, 0, 0.658);
}
.section1 h2, .section1 p {
    color: whitesmoke;
    width: 60%;
    margin-left: 460px;
    text-align: center;
}

.Projects {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    padding: 1px;
    width: 25%;
    float: left;
    color: rgba(209, 35, 35, 0.993);
    font-size: 22px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    padding: 10px; 
    padding-top: 50px;
    margin-left: auto;
    border-left: rgba(209, 35, 35, 0.993) solid 10px;
}

a:hover {
    opacity: 0.7;
}
.LA, .pokemon, .css, .excel {
    margin: 10px;
    height: 180px;
    width: 280px;
    border: solid 5px rgba(209, 35, 35, 0.993);
}

.java {
    height: 400px;
    width: 675px;
    border: solid 5px rgba(209, 35, 35, 0.993);
    background: url("images/java-hawaii.jpg");
    background-size: cover;
    margin-bottom: 20px;
}

.LA {
    background: url("images/Los\ Angeles\ DT.jpg");
    background-size: cover;
}

.pokemon {
    background: url("images/POKE.jpg");
    background-position: center;
    background-size: cover;
}

.css {
    background: url("images/css.jpg");
    background-position: center;
    background-size: cover;
}

.excel {
    background: url();
    background-position: center;
    background-size: cover;
}

.container1 a {
    color: rgba(209, 35, 35, 0.993);
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
  text-align: end;
  padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(88, 3, 3), rgba(209, 35, 35, 0.993), rgb(129, 24, 24));
    margin-top: 20px;
    padding: 1px;
    width: 100%;
    font-size: 22px;
}

.footer li {
    display: inline-block;
    flex-basis: 70%;
    list-style: none;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
    color: whitesmoke;
}

.footer h2 {
    flex-basis: 30%;
    text-align: center;
    flex-grow: 0;
    color:whitesmoke;
}

@media screen and (min-width: 1490px) {
    .java {
        width: 1000px;
    }
    .LA, .pokemon, .css, .excel {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    header, .footer {
        flex-direction: column;
        width: 100%;
    }
    .section1 h2, .section1 p {
        display: block;
        float: left;
        width: 95%;
        margin: 10px;
    }

    .section1 img {
        width: 40%;
        margin-left: 250px;

    }
    .section1 {
        height: 600px;
        width: 100%;
        
    }
    .Projects, .container1 {
        margin: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .nav li, .footer, .footer li {
        display: block;
        float: inline-start;

    }
    
    .section1 h2, .section1 p {
        display: block;
        float: left;
        width: 100%;
        margin: 10px;
    }

    .section1 img {
        width: 60%;
        margin-left: 100px;

    }
    .Projects, .container1 {
        margin: 10px;
        width: 95%;
    }
}